{% extends 'master.html' %}
{% block content %}
<div class="container my-5">
    <div class="py-5 text-center">
        <h2>Support & Contact</h2>
        <p class="lead">We're here to help! Reach out to us through any of the channels below.</p>
    </div>
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card shadow-sm border-0">
                <div class="card-body p-5">
                    <h4 class="mb-4">Contact Information</h4>
                    <p><i class="fas fa-phone-alt me-3"></i> (+855) 081 999 716</p>
                    <p><i class="fas fa-envelope me-3"></i> info@zandokh.com</p>
                    <p><i class="fas fa-map-marker-alt me-3"></i> 123 Commerce St, Phnom Penh, Cambodia</p>
                    <hr class="my-4">
                    <h4 class="mb-3">Follow Us</h4>
                    <a href="#" class="btn btn-outline-primary me-2"><i class="fab fa-facebook-f"></i> Facebook</a>
                    <a href="#" class="btn btn-outline-danger me-2"><i class="fab fa-instagram"></i> Instagram</a>
                    <a href="#" class="btn btn-outline-info"><i class="fab fa-twitter"></i> Twitter</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}